.one{
    background-color: rgb(255, 255, 255);
    height: 700px;
}
.two{
    background-color: rgb(255, 255, 255);
    height: 700px; 
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px ;
}
p{
    font-size: 20px;
}
span{
    color: salmon;
}
.one1{
    
    width: 40%;
    margin: 3%;
    float: left;
}
.one1 img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-color: salmon;
    color: seashell;
    padding: 5px 15px ;
    border-radius: 5px; 
}

.two{
    margin-top: 10px;
    
}
.two2 img{
    width: 100%;
}

.two2{
    
    padding-top: 15px;
    width: 40%;
    margin: 3%;
    float: left;
}
.company{
    text-decoration: none;
    color: blue;
}
.three{
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
    
    height: 600px;
    background-color: rgba(240, 240, 240, 0.863);
}

.three img{
    width: 100%;
}
.three3{
    padding: 20px;
    width: 25%;
    height: 100px;
    float: left;
    background-color: white;
}
